

.form input[type="text"],
.form input[type="number"],
.form input[type="password"],
.form select,
.form textarea {
    padding: 6px;
    font-family: Arial, Helvetica, sans-serif;
}

.form label {
    font-weight: bold;
    color: #333;
}

.form-field-no-label label, .form-field-no-label .form-error {
    margin-left: 50px;
}
.form-field-no-label.form-checkboxes .form-error{
    margin-top: 10px;
    border-top: 1px solid #eee;
}

label.radio,
label.checkbox {
    color: #555;
    font-weight: normal;
}

.form-error-div {
    margin-top: 4px;
}

.form-error {
    color: red;
}

.field_error_text {
    color: red;
}

.error_text {
    color: red;
}

td .form-error {
    display: block;
    color: red;
    margin-top: 5px;
    margin-bottom: 5px;
}

.error .form-error {
    display: block;
}

.error label {
    color: red;
}

.error input[type="text"],
.error input[type="number"],
.error textarea,
.error select,
.error input[type="text"]:focus,
.error input[type="number"]:focus,
.error textarea:focus,
.error select:focus {
    border-color: red;
    color: red;
}


.form input[type="text"],
.form input[type="number"],
.form input[type="email"],
.form input[type="password"],
.form textarea,
.form select,
.form .ul-select-field {
    border: 1px solid #d5d5d5;
    padding: 5px;
    display: inline-block;
    width: 270px;

    *width: 258px;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;

    border-radius: 3px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
}

.form textarea {
    display: block;
}
.form input[readonly],
.form textarea[readonly],
.form select[disabled]
{
    background-color: #e0e0e0;
}

.form input[type="text"]:focus,
.form input[type="number"]:focus,
.form-block input[type="email"]:focus,
.form-block input[type="password"]:focus,
.form textarea:focus {
    outline: none;
    border-color: #bbb;
}

.form {
    #margin-bottom: 20px;
}

.form-element {
    clear: both;
    margin-bottom: 20px;
}

.form-element > label {
    float: left;
    width: 140px;
}

.form-field {
    margin-left: 160px;
}

.form-field-no-label {
    margin-left: 0px;
}


.form select.date_50, .form input.date_50 {
    width: 50px;
}

.form select.date_70, .form input.date_70 {
    width: 70px;
}

.form-block input[type="text"],
.form-block input[type="email"],
.form-block input[type="number"],
.form-block input[type="password"],
.form-block textarea,
.form-block select,
.form-block .ul-select-field {
    display: block;
}

.form-block input[type="text"].date_50 {
    display: inline-block;
}


.form-block .form-element > label {
    float: none;
    width: auto;
    display: block;
    margin-bottom: 5px;
}

.form-block .form-field {
    margin-left: 0;
}

.form-block .form-options {
    padding-left: 0;
}


.form span.required {
    color: red;
    font-weight: bold;
}


/* Form options */

.form-options {
    clear: both;
    padding: 0 0 0 160px;
}

.form-options:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
}

.form-options button {
    #line-height: normal;
    float: left;
    margin-right: 10px;
}

.form-options-left {
    clear: both;
    margin-bottom: 20px;
}

.form-options-left:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
}

.form-options-left button, .form-options-left a {
    #line-height: normal;
    float: left;
    margin-right: 10px;
}

.form-options-right {
    clear: both;
    margin-bottom: 20px;
}

.form-options-right:after {
    content: ' ';
    clear: both;
    display: block;
    height: 0;
    width: 0;
    font-size: 0;
}

.form-options-right button, .form-options-right a {
    #line-height: normal;
    float: right;
    margin-right: 10px;
}


.form select {
    border: 1px solid #d5d5d5;
    display: inline;
    width: 270px;
    margin: 0;
}

/* Full width form */

.form-fullwidth input[type="text"],
.form-fullwidth input[type="number"],
.form-fullwidth input[type="password"],
.form-fullwidth textarea,
.form-fullwidth select,
.form-fullwidth .ul-select-field {
    width: 100%;
    *width: auto;
}

.form-element.half {
    float: left;
    width: 48%;
}

.form-element.half + .half {
    margin-left: 4%;
    clear: none;
}

.form-element.half input[type="number"],
.form-element.half input[type="text"],
.form-element.half input[type="password"],
.form-element.half textarea,
.form-element.half select,
.form-element.full input[type="number"],
.form-element.full input[type="text"],
.form-element.full input[type="password"],
.form-element.full textarea,
.form-element.full select {
    width: 100%;
}

.form-element.pad_textarea textarea  {
    padding: 1.5% 2%;
}

.checkbox, .radio {
    min-height: 20px;
    padding-left: 20px;
}

.checkbox input[type="checkbox"], .radio input[type="radio"] {
    float: left;
    margin: 3px 5px 3px -20px;
}

.checkbox.inline,

.radio.inline {
    display: inline-block;
    margin-bottom: 0;
}

.checkbox.inline + .checkbox.inline, .radio.inline + .radio.inline {
    margin-left: 10px;
}

.form-radios > label, .radio {
    display: block;
    float: none;
    width: auto;
    margin-bottom: 5px;
}

.form-checkboxes > label, .checkbox {
    display: block;
    float: none;
    width: auto;
    margin-bottom: 5px;
}

.autocomplete {
    position: relative;
    display: inline-block;
}
.autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    border-bottom: none;
    border-top: none;
    z-index: 99;
    top: 100%;
    left: 0;
    right: 0;
}
.autocomplete-items div {
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
}
.autocomplete-items div:hover {
    background-color: #e9e9e9;
}
.autocomplete-active {
    background-color: DodgerBlue !important;
    color: #ffffff;
}